[user]
	name = Bjoern Griebenow
	email = b.griebenow@web.de
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
[svn]
	rmdir = true
[diff]
	tool = meld
[color]
	ui = auto
[core]
	gitProxy = git-proxy
[socks]
	proxy = localhost:1080
